

<div class=" mt-5">
  <form method="POST">
      <div class="mb-3">
        <label for="">Email</label>
    <input type="text" name="query" class="form-control" id="formGroupExampleInput" placeholder="search email">
  </div>
    <button type="submit" class="btn btn-primary mb-3">Search</button>

  </form>

</div>